#include "bar.h"

MENU_ID MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", EXIT_ID
    END
    POPUP "&Line Algorithms"
    BEGIN
        MENUITEM "&DDA Line", DDA
        MENUITEM "&Midpoint Line", MIDPOINT_LINE
    END
    POPUP "&Circle Algorithms"
    BEGIN
        MENUITEM "&Cartesian Circle", CARTESIAN_CIRCLE
    END
END
